
Extended3/obj/Debug/net7.0/Extended3.GeneratedMSBuildEditorConfig.editorconfig
Extended3/obj/Debug/net7.0/Extended3.AssemblyInfoInputs.cache
Extended3/obj/Debug/net7.0/Extended3.AssemblyInfo.cs
Extended3/.vs/Extended3/FileContentIndex/e855594c-73a2-4dec-bb6f-f1bda6019477.vsidx
Extended3/.vs/Extended3/FileContentIndex/b08e8b55-e516-48c8-8e02-e9564d637ce3.vsidx
Extended3/.vs/Extended3/FileContentIndex/8605695f-adbb-4701-b380-fc8f832c4a96.vsidx
Extended3/.vs/Extended3/FileContentIndex/3e4e2b49-263a-4a0b-a9ae-0723e74e89ee.vsidx
Extended3/.vs/Extended3/FileContentIndex/195c3dde-c6bf-4216-a7d5-71276751fdba.vsidx
Extended3/obj/Debug/net7.0/Extended3.GeneratedMSBuildEditorConfig.editorconfig
Extended3/obj/Debug/net7.0/Extended3.AssemblyInfoInputs.cache
Extended3/obj/Debug/net7.0/Extended3.AssemblyInfo.cs
